<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tech.khash.simplecounter">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="tech.khash.simplecounter.MainActivity"
            android:label="@string/app_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity android:name="tech.khash.simplecounter.BpmCalculatorActivity"
            android:label="@string/bpm_calc_menu"
            android:parentActivityName="tech.khash.simplecounter.MainActivity"/>

        <activity android:name=".AboutActivity"
            android:label="@string/about"
            android:parentActivityName=".AboutActivity"/>
    </application>

</manifest>